/* Circe-Bold */
@font-face {
    font-family: 'Circe-Bold';
    font-style: normal;
    src: local(''),
    url('../fonts/Circe-Bold.woff2') format('woff2'),
    url('../fonts/Circe-Bold.woff') format('woff');
}

/* Circe-Regular */
@font-face {
    font-family: 'Circe';
    font-style: normal;
    src: local(''),
    url('../fonts/Circe-Regular.woff2') format('woff2'),
    url('../fonts/Circe-Regular.woff') format('woff');
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Circe', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
}

button{
    cursor: pointer;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p{
    margin: 0;
}

:focus-visible{
    outline: none!important;
}

.container{
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 767.98px) {
    .container{
        padding: 0 15px;
    }
}
